@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

.container {
  padding: 2rem 6rem;
}

#explore-header {
  background-position: center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  font-family: "Roboto Condensed";
}

#explore-header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#explore-header .navbar a {
  color: #fff;
  font-size: 1.4rem;
  margin: 0 10px;
}

#explore-header .navbar #logo {
  width: 70px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

#explore-header .navbar #logo:hover {
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

#explore-header .navbar .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#explore-header .navbar .nav-links img {
  width: 150px;
}

#explore-header .showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90vh;
}

#explore-header .showcase #head-title {
  color: #000;
  font-size: 9rem;
  font-weight: 300;
  letter-spacing: -11px;
  line-height: 125px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

#explore-header .showcase #head-title #mars {
  font-size: 9.9rem;
  font-weight: 700;
  letter-spacing: 25px;
}

#explore-header .showcase .showcase-btn {
  padding: 0.7rem 1.5rem;
  font-size: 1.11rem;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  border: solid #fff 3px;
  border-radius: 10px;
  -webkit-transition: all ease 0.1s;
  transition: all ease 0.1s;
  -webkit-transform: scale(1);
          transform: scale(1);
  cursor: pointer;
}

#explore-header .showcase .showcase-btn:hover {
  background-color: white;
  color: #000;
  -webkit-transition: all ease 0.1s;
  transition: all ease 0.1s;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

#explore-header .showcase #showcase-info {
  width: 45%;
  padding-bottom: 2rem;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  color: #000000;
  line-height: 20px;
}

#explore-header .showcase i {
  font-size: 2.5rem;
  color: #fff;
}

#explore {
  padding-top: 4rem;
}

.container {
  padding: 2rem 6rem;
}

#section-head {
  font-family: "Roboto Condensed";
  font-size: 5rem;
  text-align: center;
  margin-bottom: 3rem;
  color: #ce392e;
}

.camera-name {
  font-family: "Roboto Condensed";
  font-size: 3rem;
}

.explore-img {
  width: 250px;
  margin-top: 3rem;
  margin-right: 3rem;
  cursor: pointer;
}

.myImg {
  width: 400px;
  height: 280px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  border-radius: 8px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.myImg:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

/* Style the Image Used to Trigger the Modal */
.myImg {
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 500px;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

.curiosity,
.perseverance,
.sojourner {
  margin: 3rem 0;
  text-align: center;
}

.curiosity-images-container,
.perseverance-images-container,
.sojourner-images-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
/*# sourceMappingURL=explore.css.map */